body {
  background-color: aquamarine;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.leaderboard {
  background-color: azure;
  padding: 5px;
}

.names {
  display: flex;
  align-items: center;
  justify-content: center;
}
